@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --rcy-red: #fe006e;
    --rcy-blue: #00aaff7a;
    --rcy-dark-blue: #00679b;
    --rcy-light-blue: #00aaff;
    --card-border: #acacac6f;
    --via: #5d00ff;
    --dark: #1d232a;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body[data-theme="light"] .card {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
}

body[data-theme="dark"] .card {
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}

body[data-theme="dark"] .title, body[data-theme="light"] .title {
    background-image: linear-gradient(to right, var(--rcy-red), var(--rcy-light-blue));
    background-clip: text;
    color: transparent;
}

/* Glowing Logos */
body[data-theme="dark"] .blue-logo {
    filter: drop-shadow(0px 0px 25px var(--rcy-blue));
}

body[data-theme="dark"] .red-logo {
    filter: drop-shadow(0px 0px 25px var(--rcy-red));
}

.hero-button {
    transition: filter 0.3s ease-in-out;
}
.hero-button:hover {
    filter: drop-shadow(0px 0px 10px var(--rcy-blue));
}

body[data-theme="light"] .navbar {
    filter: drop-shadow(0px 0px 10px var(--card-border));
}

body[data-theme="dark"] .navbar {
    box-shadow:  0px 0px 10px 0px var(--dark);
}

.component {
    border-top: 1px solid var(--card-border);
    padding: 3rem 0;
}

body {
    overflow-x: hidden;
    background-color: #dbdbdb1b;
}

.volunteer-card {
    position: relative;
    transform-style: preserve-3d;
    border: none !important;
}

.volunteer-card::before {
    content: "";
    position: absolute; 
    inset: 0px;
    background: conic-gradient(from 90deg at 40% -25%, var(--rcy-blue), var(--rcy-red));
    filter: blur(10px);
    transform: translate3d(0px,0px,-1px);
    border-radius: inherit;
    pointer-events: none;
}

/* .card {
    border: none !important;
} */

.footer-container {
    border-top: 1px solid var(--card-border);
}

/* Border none */
.remove-border {
    border: none !important;
}

/* Partner Slider */
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    position: relative;
}

.logos:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
    content: "";
    z-index: 2;
}

.logos:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0), white);
    content: "";
    z-index: 2;
}

body[data-theme="dark"] .logos:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0), var(--dark));
    content: "";
    z-index: 2;
}

body[data-theme="dark"] .logos:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0), var(--dark));
    content: "";
    z-index: 2;
}

/* .logos:hover .logos-slide {
    animation-play-state: paused;
} */

.logos-slide {
    animation: 15s slide infinite linear;
}